.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
}


.title{
    margin-top: 50px;
    align-items: center;
    align-content: center;
    text-align: center;
}